.App {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        justify-content:center;
        align-items: center;
        margin:auto;
        min-height: 100vh;

}
body{
    background-color: #4B145B;
}

